Repository backstage/community-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/community-plugins-maintainers, @backstage-service, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @ciiay, @invincibleJai, @kuangp, @jmezach, @kurtaking, @awanlin, @deepan10, @sarabadu, @backstage/sda-se-reviewers, @alde, @fjudith, @esw-afabiano, @backstage/silver-lining, @riginoommen, @deshmukhmayur, @yashoswalyo, @erikengervall, @minkimcello, @taras, @gregorytalita, @BethGriggs, @andrewthauer, @schultzp2020, @dzemanov, @aljesusg, @josunect, @dariuszsobkowicz, @ibolton336, @karthikjeeyar, @debsmita1, @jessicajhee, @caugello, @cryptorodeo, @Eswaraiahsapram, @rohitkrai03, @divyanshiGupta, @PatAKnight, @jkilzi, @preetiw, @xantier

added epss score column
  plugins/acs/src/components/VulnerabilitiesComponent/SecurityFindingsComponent/SecurityFindingsComponent.tsx
Owners: @backstage/community-plugins-maintainers

chore(dep): update k8s-client for ocm, k8s-scaffolder, topology, tekton plugins (#2843)
  workspaces/ocm/plugins/ocm-backend/__fixtures__/handlers.ts
  workspaces/ocm/plugins/ocm-backend/__fixtures__/kubeconfig.yaml
  workspaces/ocm/plugins/ocm-backend/package.json
  workspaces/ocm/plugins/ocm-backend/src/helpers/kubernetes.test.ts
  workspaces/ocm/plugins/ocm-backend/src/helpers/kubernetes.ts
  workspaces/ocm/plugins/ocm-backend/src/service/router.test.ts
  workspaces/ocm/plugins/ocm/package.json
  workspaces/ocm/yarn.lock
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/__fixtures__/cluster-entities/bar.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/__fixtures__/cluster-entities/foo.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/package.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/src/actions/createKubernetesNamespace.test.ts
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/src/actions/createKubernetesNamespace.ts
  workspaces/scaffolder-backend-module-kubernetes/yarn.lock
  workspaces/tekton/plugins/tekton/package.json
  workspaces/tekton/yarn.lock
  workspaces/topology/plugins/topology/package.json
  workspaces/topology/yarn.lock
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @ciiay, @debsmita1, @backstage-service, @caugello, @cryptorodeo, @Eswaraiahsapram, @karthikjeeyar, @rohitkrai03, @divyanshiGupta

chore(dep): update k8s-client for ocm, k8s-scaffolder, topology, tekton plugins (#2843)
  workspaces/ocm/plugins/ocm-backend/__fixtures__/handlers.ts
  workspaces/ocm/plugins/ocm-backend/__fixtures__/kubeconfig.yaml
  workspaces/ocm/plugins/ocm-backend/package.json
  workspaces/ocm/plugins/ocm-backend/src/helpers/kubernetes.test.ts
  workspaces/ocm/plugins/ocm-backend/src/helpers/kubernetes.ts
  workspaces/ocm/plugins/ocm-backend/src/service/router.test.ts
  workspaces/ocm/plugins/ocm/package.json
  workspaces/ocm/yarn.lock
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/__fixtures__/cluster-entities/bar.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/__fixtures__/cluster-entities/foo.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/package.json
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/src/actions/createKubernetesNamespace.test.ts
  workspaces/scaffolder-backend-module-kubernetes/plugins/kubernetes-actions/src/actions/createKubernetesNamespace.ts
  workspaces/scaffolder-backend-module-kubernetes/yarn.lock
  workspaces/tekton/plugins/tekton/package.json
  workspaces/tekton/yarn.lock
  workspaces/topology/plugins/topology/package.json
  workspaces/topology/yarn.lock
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @ciiay, @debsmita1, @backstage-service, @caugello, @cryptorodeo, @Eswaraiahsapram, @karthikjeeyar, @rohitkrai03, @divyanshiGupta

update config
  app-config.yaml
  plugins/acs/config.d.ts
  plugins/acs/src/components/ACSComponent/ACSComponent.tsx
Owners: @backstage/community-plugins-maintainers

updating acs config var
  app-config.yaml
Owners: @backstage/community-plugins-maintainers

updated instructions for adding new stanza to app-config
  README.md
Owners: @backstage/community-plugins-maintainers

updated default text for text box
  plugins/acs/src/components/DataFilterComponent/InputFieldComponent.tsx
Owners: @backstage/community-plugins-maintainers

updated description
  plugins/acs/src/components/ACSComponent/ACSComponent.tsx
Owners: @backstage/community-plugins-maintainers

remove unused deprecated types (#2852)
  workspaces/mta/packages/backend/src/index.test.ts
  workspaces/mta/packages/backend/src/types.ts
Owners: @backstage/community-plugins-maintainers, @ibolton336

remove unused deprecated types (#2852)
  workspaces/mta/packages/backend/src/index.test.ts
  workspaces/mta/packages/backend/src/types.ts
Owners: @backstage/community-plugins-maintainers, @ibolton336

add yarn update docs and script
  docs/updating-yarn.md
  scripts/run-in-all.sh
  scripts/yarn-install-all.sh
  workspaces/mta/package.json
Owners: @backstage/community-plugins-maintainers, @ibolton336

update docs
  docs/updating-yarn.md
  scripts/yarn-install-all.sh
Owners: @backstage/community-plugins-maintainers

update yarn to v4
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @backstage/community-plugins-maintainers, @backstage-service

add contributing note
  CONTRIBUTING.md
Owners: @backstage/community-plugins-maintainers

dedupe workspaces
  workspaces/allure/yarn.lock
  workspaces/apollo-explorer/yarn.lock
  workspaces/code-climate/yarn.lock
  workspaces/explore/yarn.lock
  workspaces/keycloak/yarn.lock
  workspaces/kiali/yarn.lock
  workspaces/nomad/yarn.lock
  workspaces/scaffolder-backend-module-servicenow/yarn.lock
Owners: @backstage/community-plugins-maintainers, @backstage-service, @backstage/sda-se-reviewers, @AndrienkoAleksandr, @schultzp2020, @dzemanov, @aljesusg, @josunect

Revert "fix: replace deprecated DatePicker by @mui/x-date-pickers"
  workspaces/announcements/plugins/announcements-react/report.api.md
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/AnnouncementForm.tsx
  workspaces/announcements/yarn.lock
Owners: @backstage/community-plugins-maintainers, @kurtaking

fix: replace deprecated DatePicker by native pickers
  workspaces/announcements/plugins/announcements-react/report.api.md
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/AnnouncementForm.tsx
  workspaces/announcements/yarn.lock
Owners: @backstage/community-plugins-maintainers, @kurtaking

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/3scale                                  @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr
/workspaces/acr                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @invincibleJai
/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/announcements                           @backstage/community-plugins-maintainers  @kurtaking
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/azure-resources                         @backstage/community-plugins-maintainers  @sarabadu
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/copilot                                 @backstage/community-plugins-maintainers  @esw-afabiano
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-discussions                      @backstage/community-plugins-maintainers  @minkimcello @taras
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/jfrog-artifactory                       @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @schultzp2020 @dzemanov
/workspaces/kiali                                   @backstage/community-plugins-maintainers  @aljesusg @josunect
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/matomo                                  @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/mend                                    @backstage/community-plugins-maintainers  @dariuszsobkowicz
/workspaces/mta                                     @backstage/community-plugins-maintainers  @ibolton336
/workspaces/nexus-repository-manager                @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/npm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @karthikjeeyar
/workspaces/ocm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/pingidentity                            @backstage/community-plugins-maintainers  @jessicajhee
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/quay                                    @backstage/community-plugins-maintainers  @caugello @cryptorodeo @Eswaraiahsapram @karthikjeeyar @rohitkrai03
/workspaces/rbac                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @christoph-jerolimov @divyanshiGupta @PatAKnight
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @caugello @cryptorodeo @Eswaraiahsapram @karthikjeeyar @rohitkrai03
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers  @jkilzi @preetiw @christoph-jerolimov
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-annotator     @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/scaffolder-backend-module-sonarqube     @backstage/community-plugins-maintainers  @04kash @schultzp2020
/workspaces/scaffolder-backend-module-servicenow    @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/scaffolder-backend-module-regex         @backstage/community-plugins-maintainers  @04kash
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/tekton                                  @backstage/community-plugins-maintainers  @caugello @cryptorodeo @Eswaraiahsapram @karthikjeeyar @rohitkrai03
/workspaces/topology                                @backstage/community-plugins-maintainers  @christoph-jerolimov @ciiay @debsmita1 @divyanshiGupta
