Repository backstage/community-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/community-plugins-maintainers, @backstage-service, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @invincibleJai, @kuangp, @jmezach, @awanlin, @deepan10, @backstage/sda-se-reviewers, @alde, @fjudith, @esw-afabiano, @backstage/silver-lining, @riginoommen, @deshmukhmayur, @yashoswalyo, @erikengervall, @gregorytalita, @BethGriggs, @andrewthauer, @schultzp2020, @aljesusg, @josunect, @dariuszsobkowicz, @ibolton336, @karthikjeeyar, @debsmita1, @jessicajhee, @rohitkrai03, @Eswaraiahsapram, @divyanshiGupta, @PatAKnight, @jkilzi, @preetiw, @xantier, @ciiay

Deprecated legacy backend
  workspaces/azure-storage-explorer/.changeset/selfish-nails-develop.md
  workspaces/azure-storage-explorer/plugins/azure-storage-backend/report.api.md
  workspaces/azure-storage-explorer/plugins/azure-storage-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @deepan10

fix(keycloak): serialize the calls to get groups and users
  workspaces/keycloak/.changeset/tender-ears-judge.md
  workspaces/keycloak/package.json
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/src/lib/read.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @schultzp2020

fix(keycloak): fix failing pr check due to prettier
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/src/lib/read.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @schultzp2020

badges - Deprecated legacy backend
  workspaces/badges/.changeset/two-ears-train.md
  workspaces/badges/plugins/badges-backend/report.api.md
  workspaces/badges/plugins/badges-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

fix prettier issues
  workspaces/keycloak/package.json
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/.prettierrc.js
  workspaces/keycloak/yarn.lock
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @schultzp2020

use default mui theme color instead of hardcoding black
  workspaces/github-actions/.changeset/good-stingrays-know.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/src/components/icons/DraftPr/DraftPr.tsx
Owners: @backstage/community-plugins-maintainers, @gregorytalita

blackduck - Deprecated legacy backend
  workspaces/blackduck/.changeset/dirty-carrots-accept.md
  workspaces/blackduck/plugins/blackduck-backend/report.api.md
  workspaces/blackduck/plugins/blackduck-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @deepan10

code-coverage - Deprecated legacy backend
  workspaces/code-coverage/.changeset/chatty-otters-work.md
  workspaces/code-coverage/plugins/code-coverage-backend/report.api.md
  workspaces/code-coverage/plugins/code-coverage-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @alde

fix prettier issues
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/.prettierignore
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/api-report.md
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/report.api.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @schultzp2020

explore - Deprecated legacy backend
  workspaces/explore/.changeset/lemon-elephants-provide.md
  workspaces/explore/plugins/explore-backend/report.api.md
  workspaces/explore/plugins/explore-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @backstage/sda-se-reviewers

fix api reports
  workspaces/keycloak/package.json
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/api-report.md
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/report.api.md
  workspaces/keycloak/plugins/catalog-backend-module-keycloak/src/module/catalogModuleKeycloakEntityProvider.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @schultzp2020

Deprecated `createRouter` and its router options in favour of the new backend system.
  workspaces/feedback/plugins/feedback-backend/report-alpha.api.md
  workspaces/feedback/plugins/feedback-backend/report.api.md
  workspaces/feedback/plugins/feedback-backend/src/index.ts
  workspaces/feedback/plugins/feedback-backend/src/plugin.ts
  workspaces/feedback/plugins/feedback-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @riginoommen, @deshmukhmayur, @yashoswalyo

jenkins - Deprecated legacy backend
  workspaces/jenkins/.changeset/modern-books-give.md
  workspaces/jenkins/plugins/jenkins-backend/report.api.md
  workspaces/jenkins/plugins/jenkins-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

lighthouse - Deprecated legacy backend
  workspaces/lighthouse/.changeset/short-snails-boil.md
  workspaces/lighthouse/plugins/lighthouse-backend/report.api.md
  workspaces/lighthouse/plugins/lighthouse-backend/src/service/createScheduler.ts
Owners: @backstage/community-plugins-maintainers

todo - Deprecated legacy backend
  workspaces/todo/.changeset/fluffy-phones-tie.md
  workspaces/todo/plugins/todo-backend/report.api.md
  workspaces/todo/plugins/todo-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

fix changset
  workspaces/github-actions/.changeset/good-stingrays-know.md
  workspaces/github-pull-requests-board/.changeset/forty-steaks-attend.md
Owners: @backstage/community-plugins-maintainers, @gregorytalita

update styling for custom draftPR icon inside gh-pull-requests-board (#2049)
  workspaces/github-pull-requests-board/.changeset/forty-steaks-attend.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/src/components/icons/DraftPr/DraftPr.tsx
Owners: @backstage/community-plugins-maintainers, @gregorytalita

update styling for custom draftPR icon inside gh-pull-requests-board (#2049)
  workspaces/github-pull-requests-board/.changeset/forty-steaks-attend.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/src/components/icons/DraftPr/DraftPr.tsx
Owners: @backstage/community-plugins-maintainers, @gregorytalita

Version Packages (#2054)
  workspaces/github-pull-requests-board/.changeset/forty-steaks-attend.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/CHANGELOG.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/package.json
Owners: @backstage/community-plugins-maintainers, @gregorytalita

Version Packages (#2054)
  workspaces/github-pull-requests-board/.changeset/forty-steaks-attend.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/CHANGELOG.md
  workspaces/github-pull-requests-board/plugins/github-pull-requests-board/package.json
Owners: @backstage/community-plugins-maintainers, @gregorytalita

Version Packages (#2028)
  workspaces/tekton/.changeset/renovate-9728dcf.md
  workspaces/tekton/plugins/tekton/CHANGELOG.md
  workspaces/tekton/plugins/tekton/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar

Version Packages (#2028)
  workspaces/tekton/.changeset/renovate-9728dcf.md
  workspaces/tekton/plugins/tekton/CHANGELOG.md
  workspaces/tekton/plugins/tekton/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar

Version Packages (#2027)
  workspaces/quay/.changeset/renovate-9728dcf.md
  workspaces/quay/plugins/quay/CHANGELOG.md
  workspaces/quay/plugins/quay/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

Version Packages (#2027)
  workspaces/quay/.changeset/renovate-9728dcf.md
  workspaces/quay/plugins/quay/CHANGELOG.md
  workspaces/quay/plugins/quay/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

Mend: add missing postinstall script (#1902)
  workspaces/mend/package.json
Owners: @backstage/community-plugins-maintainers, @dariuszsobkowicz

Mend: add missing postinstall script (#1902)
  workspaces/mend/package.json
Owners: @backstage/community-plugins-maintainers, @dariuszsobkowicz

issue-1246 Truncate commit message to first newline (#2012)
  workspaces/github-actions/.changeset/mean-apes-tap.md
  workspaces/github-actions/plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Owners: @backstage/community-plugins-maintainers

issue-1246 Truncate commit message to first newline (#2012)
  workspaces/github-actions/.changeset/mean-apes-tap.md
  workspaces/github-actions/plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Owners: @backstage/community-plugins-maintainers

remove examples dir
  examples/entities.yaml
  examples/org.yaml
  examples/template/content/catalog-info.yaml
  examples/template/content/index.js
  examples/template/content/package.json
  examples/template/template.yaml
Owners: @backstage/community-plugins-maintainers

updated readme
  README.md
Owners: @backstage/community-plugins-maintainers

added description and headers
  README.md
Owners: @backstage/community-plugins-maintainers

fix(rbac): fix ui issues
  workspaces/rbac/plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  workspaces/rbac/plugins/rbac/src/components/CreateRole/RoleForm.tsx
  workspaces/rbac/plugins/rbac/src/components/DownloadUserStatistics.tsx
  workspaces/rbac/plugins/rbac/src/components/EditRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesListToolbar.tsx
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Fixed deleteRoleDialog ui issues
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRoleDialog.tsx
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): sync permissions during request handling
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): use loadPermissionsWithoutThrottling only where necessary
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): revert enforcer method logic
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): try to use adapter directly to fetch data from database
  workspaces/rbac/.gitignore
  workspaces/rbac/.vscode/launch.json
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): fix startup
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): use adapter to fetch data from db to keep in sync with another replicas
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): handle some part of code review feedback
  workspaces/rbac/.vscode/launch.json
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/3scale                                  @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr
/workspaces/acr                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @invincibleJai
/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/copilot                                 @backstage/community-plugins-maintainers  @esw-afabiano
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/jfrog-artifactory                       @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @schultzp2020
/workspaces/kiali                                   @backstage/community-plugins-maintainers  @aljesusg @josunect
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/matomo                                  @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/mend                                    @backstage/community-plugins-maintainers  @dariuszsobkowicz
/workspaces/mta                                     @backstage/community-plugins-maintainers  @ibolton336
/workspaces/nexus-repository-manager                @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/npm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/ocm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @debsmita1
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/pingidentity                            @backstage/community-plugins-maintainers  @jessicajhee
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/quay                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/rbac                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @divyanshiGupta @PatAKnight
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers  @jkilzi @preetiw @christoph-jerolimov
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-sonarqube     @backstage/community-plugins-maintainers  @04kash @schultzp2020
/workspaces/scaffolder-backend-module-servicenow    @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/scaffolder-backend-module-regex         @backstage/community-plugins-maintainers  @04kash
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/tekton                                  @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/topology                                @backstage/community-plugins-maintainers  @divyanshiGupta @debsmita1 @ciiay
