Repository backstage/community-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/community-plugins-maintainers, @backstage-service, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @invincibleJai, @kuangp, @jmezach, @awanlin, @deepan10, @backstage/sda-se-reviewers, @alde, @fjudith, @esw-afabiano, @backstage/silver-lining, @riginoommen, @deshmukhmayur, @yashoswalyo, @erikengervall, @gregorytalita, @BethGriggs, @andrewthauer, @schultzp2020, @aljesusg, @josunect, @dariuszsobkowicz, @ibolton336, @karthikjeeyar, @debsmita1, @jessicajhee, @rohitkrai03, @Eswaraiahsapram, @divyanshiGupta, @PatAKnight, @jkilzi, @preetiw, @xantier, @ciiay

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/3scale                                  @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr
/workspaces/acr                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @invincibleJai
/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/copilot                                 @backstage/community-plugins-maintainers  @esw-afabiano
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/jfrog-artifactory                       @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @schultzp2020
/workspaces/kiali                                   @backstage/community-plugins-maintainers  @aljesusg @josunect
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/matomo                                  @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/mend                                    @backstage/community-plugins-maintainers  @dariuszsobkowicz
/workspaces/mta                                     @backstage/community-plugins-maintainers  @ibolton336
/workspaces/nexus-repository-manager                @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/npm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/ocm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @debsmita1
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/pingidentity                            @backstage/community-plugins-maintainers  @jessicajhee
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/quay                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/rbac                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @divyanshiGupta @PatAKnight
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers  @jkilzi @preetiw @christoph-jerolimov
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-sonarqube     @backstage/community-plugins-maintainers  @04kash @schultzp2020
/workspaces/scaffolder-backend-module-servicenow    @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/scaffolder-backend-module-regex         @backstage/community-plugins-maintainers  @04kash
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/tekton                                  @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/topology                                @backstage/community-plugins-maintainers  @divyanshiGupta @debsmita1 @ciiay

add changeset
  workspaces/quay/.changeset/early-falcons-obey.md
  workspaces/quay/.changeset/quick-toys-study.md
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

add changeset
  workspaces/feedback/.changeset/metal-donuts-hang.md
Owners: @backstage/community-plugins-maintainers, @riginoommen, @deshmukhmayur, @yashoswalyo

add changeset
  workspaces/jfrog-artifactory/.changeset/three-kangaroos-approve.md
Owners: @backstage/community-plugins-maintainers, @BethGriggs

add changeset
  workspaces/ocm/.changeset/few-suns-rest.md
  workspaces/ocm/.changeset/unlucky-apples-fix.md
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

plugin(ocm): clean up (#2089)
  workspaces/ocm/.changeset/unlucky-apples-fix.md
  workspaces/ocm/package.json
  workspaces/ocm/plugins/ocm-backend/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-backend/.versionhistory.md
  workspaces/ocm/plugins/ocm-backend/report.api.md
  workspaces/ocm/plugins/ocm-backend/src/bundle.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/ManagedClusterProvider.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/module.ts
  workspaces/ocm/plugins/ocm-backend/src/service/router.ts
  workspaces/ocm/plugins/ocm-backend/tsconfig.json
  workspaces/ocm/plugins/ocm-backend/turbo.json
  workspaces/ocm/plugins/ocm-common/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-common/.versionhistory.md
  workspaces/ocm/plugins/ocm-common/report.api.md
  workspaces/ocm/plugins/ocm-common/src/index.ts
  workspaces/ocm/plugins/ocm-common/src/permissions.ts
  workspaces/ocm/plugins/ocm-common/src/types.ts
  workspaces/ocm/plugins/ocm-common/tsconfig.json
  workspaces/ocm/plugins/ocm-common/turbo.json
  workspaces/ocm/plugins/ocm/.lintstagedrc.json
  workspaces/ocm/plugins/ocm/.versionhistory.md
  workspaces/ocm/plugins/ocm/report.api.md
  workspaces/ocm/plugins/ocm/src/components/ClusterAvailableResourcesCard/ClusterAvailableResourcesCard.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/ClusterContext.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/index.ts
  workspaces/ocm/plugins/ocm/src/components/ClusterInfoCard/ClusterInfoCard.tsx
  workspaces/ocm/plugins/ocm/src/index.ts
  workspaces/ocm/plugins/ocm/src/plugin.ts
  workspaces/ocm/plugins/ocm/tsconfig.json
  workspaces/ocm/plugins/ocm/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

plugin(ocm): clean up (#2089)
  workspaces/ocm/.changeset/unlucky-apples-fix.md
  workspaces/ocm/package.json
  workspaces/ocm/plugins/ocm-backend/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-backend/.versionhistory.md
  workspaces/ocm/plugins/ocm-backend/report.api.md
  workspaces/ocm/plugins/ocm-backend/src/bundle.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/ManagedClusterProvider.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/module.ts
  workspaces/ocm/plugins/ocm-backend/src/service/router.ts
  workspaces/ocm/plugins/ocm-backend/tsconfig.json
  workspaces/ocm/plugins/ocm-backend/turbo.json
  workspaces/ocm/plugins/ocm-common/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-common/.versionhistory.md
  workspaces/ocm/plugins/ocm-common/report.api.md
  workspaces/ocm/plugins/ocm-common/src/index.ts
  workspaces/ocm/plugins/ocm-common/src/permissions.ts
  workspaces/ocm/plugins/ocm-common/src/types.ts
  workspaces/ocm/plugins/ocm-common/tsconfig.json
  workspaces/ocm/plugins/ocm-common/turbo.json
  workspaces/ocm/plugins/ocm/.lintstagedrc.json
  workspaces/ocm/plugins/ocm/.versionhistory.md
  workspaces/ocm/plugins/ocm/report.api.md
  workspaces/ocm/plugins/ocm/src/components/ClusterAvailableResourcesCard/ClusterAvailableResourcesCard.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/ClusterContext.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/index.ts
  workspaces/ocm/plugins/ocm/src/components/ClusterInfoCard/ClusterInfoCard.tsx
  workspaces/ocm/plugins/ocm/src/index.ts
  workspaces/ocm/plugins/ocm/src/plugin.ts
  workspaces/ocm/plugins/ocm/tsconfig.json
  workspaces/ocm/plugins/ocm/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

Version Packages (#2091)
  workspaces/ocm/.changeset/renovate-fbd1938.md
  workspaces/ocm/.changeset/unlucky-apples-fix.md
  workspaces/ocm/plugins/ocm-backend/CHANGELOG.md
  workspaces/ocm/plugins/ocm-backend/package.json
  workspaces/ocm/plugins/ocm-common/CHANGELOG.md
  workspaces/ocm/plugins/ocm-common/package.json
  workspaces/ocm/plugins/ocm/CHANGELOG.md
  workspaces/ocm/plugins/ocm/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

Version Packages (#2091)
  workspaces/ocm/.changeset/renovate-fbd1938.md
  workspaces/ocm/.changeset/unlucky-apples-fix.md
  workspaces/ocm/plugins/ocm-backend/CHANGELOG.md
  workspaces/ocm/plugins/ocm-backend/package.json
  workspaces/ocm/plugins/ocm-common/CHANGELOG.md
  workspaces/ocm/plugins/ocm-common/package.json
  workspaces/ocm/plugins/ocm/CHANGELOG.md
  workspaces/ocm/plugins/ocm/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

Version Packages (#1981)
  workspaces/redhat-resource-optimization/.changeset/stale-gorillas-drum.md
  workspaces/redhat-resource-optimization/plugins/redhat-resource-optimization-backend/CHANGELOG.md
  workspaces/redhat-resource-optimization/plugins/redhat-resource-optimization-backend/package.json
Owners: @backstage/community-plugins-maintainers, @jkilzi, @preetiw, @christoph-jerolimov

Version Packages (#1981)
  workspaces/redhat-resource-optimization/.changeset/stale-gorillas-drum.md
  workspaces/redhat-resource-optimization/plugins/redhat-resource-optimization-backend/CHANGELOG.md
  workspaces/redhat-resource-optimization/plugins/redhat-resource-optimization-backend/package.json
Owners: @backstage/community-plugins-maintainers, @jkilzi, @preetiw, @christoph-jerolimov
