Repository backstage/community-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/community-plugins-maintainers, @backstage-service, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @invincibleJai, @kuangp, @jmezach, @awanlin, @deepan10, @backstage/sda-se-reviewers, @alde, @fjudith, @esw-afabiano, @backstage/silver-lining, @riginoommen, @deshmukhmayur, @yashoswalyo, @erikengervall, @gregorytalita, @BethGriggs, @andrewthauer, @schultzp2020, @aljesusg, @josunect, @dariuszsobkowicz, @ibolton336, @karthikjeeyar, @debsmita1, @jessicajhee, @rohitkrai03, @Eswaraiahsapram, @divyanshiGupta, @PatAKnight, @jkilzi, @preetiw, @xantier, @ciiay

Add openapi spec for linguist
  workspaces/linguist/app-config.yaml
  workspaces/linguist/packages/backend/package.json
  workspaces/linguist/packages/backend/src/index.ts
  workspaces/linguist/plugins/linguist-backend/README.md
  workspaces/linguist/plugins/linguist-backend/optic.yml
  workspaces/linguist/plugins/linguist-backend/package.json
  workspaces/linguist/plugins/linguist-backend/src/schema/openapi.generated.ts
  workspaces/linguist/plugins/linguist-backend/src/schema/openapi.yaml
  workspaces/linguist/plugins/linguist-backend/src/service/router.test.ts
  workspaces/linguist/plugins/linguist-backend/src/service/router.ts
  workspaces/linguist/yarn.lock
Owners: @backstage/community-plugins-maintainers, @awanlin

Add changeset
  workspaces/linguist/.changeset/fast-seahorses-sleep.md
Owners: @backstage/community-plugins-maintainers, @awanlin

removed unused code
  plugins/acs/src/common/QueryACS.ts
  plugins/acs/src/components/ACSComponent/ACSComponent.tsx
  plugins/acs/src/components/VulnerabilitiesComponent/VulnerabilitiesComponent.tsx
Owners: @backstage/community-plugins-maintainers

get name of entity from metadata.name
  plugins/acs/src/common/QueryACS.ts
Owners: @backstage/community-plugins-maintainers

Added changeset
  workspaces/rbac/.changeset/stupid-terms-hang.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): fix unit tests
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): use audit log to track failed loadPolicy
  workspaces/rbac/plugins/rbac-backend/src/audit-log/audit-logger.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policy-builder.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): fix unit tests
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.test.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): fix unit tests
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(topology): ui issues
  workspaces/topology/plugins/topology/src/components/Topology/TopologyComponent.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarBody.css
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Added changeset message
  workspaces/topology/.changeset/short-snails-agree.md
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

fix(rbac): align and fix prettier for rbac plugin
  workspaces/rbac/.prettierignore
  workspaces/rbac/.prettierrc.js
  workspaces/rbac/package.json
  workspaces/rbac/packages/app/public/index.html
  workspaces/rbac/plugins/rbac-backend/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-backend/.prettierignore
  workspaces/rbac/plugins/rbac-backend/package.json
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.ts
  workspaces/rbac/plugins/rbac-backend/src/database/casbin-adapter-factory.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/yaml-conditional-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
  workspaces/rbac/plugins/rbac-common/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-common/.prettierignore
  workspaces/rbac/plugins/rbac-common/package.json
  workspaces/rbac/plugins/rbac-node/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-node/.prettierignore
  workspaces/rbac/plugins/rbac-node/package.json
  workspaces/rbac/plugins/rbac/.lintstagedrc.json
  workspaces/rbac/plugins/rbac/.prettierignore
  workspaces/rbac/plugins/rbac/package.json
  workspaces/rbac/yarn.lock
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

add: rm failing tests
  workspaces/shorturl/plugins/shorturl/package.json
  workspaces/shorturl/plugins/shorturl/src/components/ShortURLPage/ShortURLPage.test.tsx
  workspaces/shorturl/yarn.lock
Owners: @backstage/community-plugins-maintainers, @backstage-service

plugin(rbac): fixed ui issues (#2061)
  workspaces/rbac/.changeset/stupid-terms-hang.md
  workspaces/rbac/plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  workspaces/rbac/plugins/rbac/src/components/CreateRole/RoleForm.tsx
  workspaces/rbac/plugins/rbac/src/components/DownloadUserStatistics.tsx
  workspaces/rbac/plugins/rbac/src/components/EditRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRoleDialog.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesListToolbar.tsx
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

plugin(rbac): fixed ui issues (#2061)
  workspaces/rbac/.changeset/stupid-terms-hang.md
  workspaces/rbac/plugins/rbac/src/components/CreateRole/AddedMembersTableColumn.tsx
  workspaces/rbac/plugins/rbac/src/components/CreateRole/RoleForm.tsx
  workspaces/rbac/plugins/rbac/src/components/DownloadUserStatistics.tsx
  workspaces/rbac/plugins/rbac/src/components/EditRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRole.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/DeleteRoleDialog.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesListToolbar.tsx
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Version Packages (#2066)
  workspaces/rbac/.changeset/stupid-terms-hang.md
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Version Packages (#2066)
  workspaces/rbac/.changeset/stupid-terms-hang.md
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

plugin(mta): API Report clean up (#1946)
  workspaces/mta/package.json
  workspaces/mta/plugins/catalog-backend-module-mta-entity-provider/api-report.md
  workspaces/mta/plugins/catalog-backend-module-mta-entity-provider/report.api.md
  workspaces/mta/plugins/mta-backend/api-report.md
  workspaces/mta/plugins/mta-backend/report.api.md
  workspaces/mta/plugins/mta-frontend/api-report.md
  workspaces/mta/plugins/scaffolder-backend-module-mta/api-report.md
  workspaces/mta/plugins/scaffolder-backend-module-mta/report.api.md
  workspaces/mta/yarn.lock
Owners: @backstage/community-plugins-maintainers, @ibolton336

plugin(mta): API Report clean up (#1946)
  workspaces/mta/package.json
  workspaces/mta/plugins/catalog-backend-module-mta-entity-provider/api-report.md
  workspaces/mta/plugins/catalog-backend-module-mta-entity-provider/report.api.md
  workspaces/mta/plugins/mta-backend/api-report.md
  workspaces/mta/plugins/mta-backend/report.api.md
  workspaces/mta/plugins/mta-frontend/api-report.md
  workspaces/mta/plugins/scaffolder-backend-module-mta/api-report.md
  workspaces/mta/plugins/scaffolder-backend-module-mta/report.api.md
  workspaces/mta/yarn.lock
Owners: @backstage/community-plugins-maintainers, @ibolton336

fix(rbac): remove empty summary row
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/PermissionsCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesList.tsx
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.test.ts
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): remove janus-idp/cli configuration and align app-config.yaml example with other plugins
  workspaces/rbac/plugins/rbac/app-config.dynamic.yaml
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): remove extra loadPolicy for enfocer, role manager syncs roles
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policy-builder.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): add changeset
  workspaces/rbac/.changeset/tough-starfishes-deliver.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): clean up
  workspaces/rbac/plugins/rbac-backend/src/audit-log/audit-logger.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

mta - Deprecated legacy backend
  workspaces/mta/.changeset/spicy-dingos-burn.md
  workspaces/mta/plugins/mta-backend/report.api.md
  workspaces/mta/plugins/mta-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers, @ibolton336

fix(rbac): remove janus-idp/cli configuration and align app-config.yaml example with other plugins
  workspaces/rbac/plugins/rbac/app-config.dynamic.yaml
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): remove empty summary row
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/PermissionsCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesList.tsx
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.test.ts
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): remove empty summary row
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/MembersCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RoleOverview/PermissionsCard.tsx
  workspaces/rbac/plugins/rbac/src/components/RolesList/RolesList.tsx
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.test.ts
  workspaces/rbac/plugins/rbac/src/utils/filter-table-data.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): add changeset
  workspaces/rbac/.changeset/tough-starfishes-deliver.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): add changeset
  workspaces/rbac/.changeset/tough-starfishes-deliver.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): remove janus-idp/cli configuration and align app-config.yaml example with other plugins
  workspaces/rbac/plugins/rbac/app-config.dynamic.yaml
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Version Packages (#2068)
  workspaces/rbac/.changeset/tough-starfishes-deliver.md
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Version Packages (#2068)
  workspaces/rbac/.changeset/tough-starfishes-deliver.md
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

add yaml
  workspaces/quay/plugins/quay-actions/package.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

plugin(quay): clean up
  workspaces/quay/package.json
  workspaces/quay/plugins/quay-actions/.lintstagedrc.json
  workspaces/quay/plugins/quay-actions/.versionhistory.md
  workspaces/quay/plugins/quay-actions/package.json
  workspaces/quay/plugins/quay-actions/report.api.md
  workspaces/quay/plugins/quay-actions/src/actions/createQuayRepository.ts
  workspaces/quay/plugins/quay-actions/src/actions/index.ts
  workspaces/quay/plugins/quay-actions/src/index.ts
  workspaces/quay/plugins/quay-actions/src/module.ts
  workspaces/quay/plugins/quay-actions/tsconfig.json
  workspaces/quay/plugins/quay-actions/turbo.json
  workspaces/quay/plugins/quay-common/.lintstagedrc.json
  workspaces/quay/plugins/quay-common/report.api.md
  workspaces/quay/plugins/quay-common/src/permissions.ts
  workspaces/quay/plugins/quay-common/tsconfig.json
  workspaces/quay/plugins/quay/.lintstagedrc.json
  workspaces/quay/plugins/quay/tsconfig.json
  workspaces/quay/yarn.lock
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

fix(rbac): correct cleanup of old roles after switching policy files
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(topology): fixed UI issues (#2064)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/src/components/Topology/TopologyComponent.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarBody.css
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

fix(topology): fixed UI issues (#2064)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/src/components/Topology/TopologyComponent.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologySideBar/TopologySideBarBody.css
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Version Packages (#2071)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Version Packages (#2071)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/3scale                                  @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr
/workspaces/acr                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @invincibleJai
/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/copilot                                 @backstage/community-plugins-maintainers  @esw-afabiano
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/jfrog-artifactory                       @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @schultzp2020
/workspaces/kiali                                   @backstage/community-plugins-maintainers  @aljesusg @josunect
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/matomo                                  @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/mend                                    @backstage/community-plugins-maintainers  @dariuszsobkowicz
/workspaces/mta                                     @backstage/community-plugins-maintainers  @ibolton336
/workspaces/nexus-repository-manager                @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/npm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/ocm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @debsmita1
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/pingidentity                            @backstage/community-plugins-maintainers  @jessicajhee
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/quay                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/rbac                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @divyanshiGupta @PatAKnight
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers  @jkilzi @preetiw @christoph-jerolimov
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-sonarqube     @backstage/community-plugins-maintainers  @04kash @schultzp2020
/workspaces/scaffolder-backend-module-servicenow    @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/scaffolder-backend-module-regex         @backstage/community-plugins-maintainers  @04kash
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/tekton                                  @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/topology                                @backstage/community-plugins-maintainers  @divyanshiGupta @debsmita1 @ciiay
