Repository backstage/community-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/community-plugins-maintainers, @backstage-service, @04kash, @AndrienkoAleksandr, @christoph-jerolimov, @invincibleJai, @kuangp, @jmezach, @awanlin, @deepan10, @backstage/sda-se-reviewers, @alde, @fjudith, @esw-afabiano, @backstage/silver-lining, @riginoommen, @deshmukhmayur, @yashoswalyo, @erikengervall, @gregorytalita, @BethGriggs, @andrewthauer, @schultzp2020, @aljesusg, @josunect, @dariuszsobkowicz, @ibolton336, @karthikjeeyar, @debsmita1, @jessicajhee, @rohitkrai03, @Eswaraiahsapram, @divyanshiGupta, @PatAKnight, @jkilzi, @preetiw, @xantier, @ciiay

fix(rbac): sync permissions during request handling (#2040)
  workspaces/rbac/.gitignore
  workspaces/rbac/.prettierignore
  workspaces/rbac/.prettierrc.js
  workspaces/rbac/.vscode/launch.json
  workspaces/rbac/package.json
  workspaces/rbac/packages/app/public/index.html
  workspaces/rbac/plugins/rbac-backend/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-backend/.prettierignore
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/package.json
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.ts
  workspaces/rbac/plugins/rbac-backend/src/database/casbin-adapter-factory.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/yaml-conditional-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.ts
  workspaces/rbac/plugins/rbac-common/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-common/.prettierignore
  workspaces/rbac/plugins/rbac-common/package.json
  workspaces/rbac/plugins/rbac-node/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-node/.prettierignore
  workspaces/rbac/plugins/rbac-node/package.json
  workspaces/rbac/plugins/rbac/.lintstagedrc.json
  workspaces/rbac/plugins/rbac/.prettierignore
  workspaces/rbac/plugins/rbac/package.json
  workspaces/rbac/yarn.lock
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

fix(rbac): sync permissions during request handling (#2040)
  workspaces/rbac/.gitignore
  workspaces/rbac/.prettierignore
  workspaces/rbac/.prettierrc.js
  workspaces/rbac/.vscode/launch.json
  workspaces/rbac/package.json
  workspaces/rbac/packages/app/public/index.html
  workspaces/rbac/plugins/rbac-backend/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-backend/.prettierignore
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/package.json
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.ts
  workspaces/rbac/plugins/rbac-backend/src/database/casbin-adapter-factory.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/yaml-conditional-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.ts
  workspaces/rbac/plugins/rbac-common/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-common/.prettierignore
  workspaces/rbac/plugins/rbac-common/package.json
  workspaces/rbac/plugins/rbac-node/.lintstagedrc.json
  workspaces/rbac/plugins/rbac-node/.prettierignore
  workspaces/rbac/plugins/rbac-node/package.json
  workspaces/rbac/plugins/rbac/.lintstagedrc.json
  workspaces/rbac/plugins/rbac/.prettierignore
  workspaces/rbac/plugins/rbac/package.json
  workspaces/rbac/yarn.lock
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

chore(release): add changeset to be able to release the plugin
  workspaces/rbac/.changeset/spotty-geese-doubt.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

chore(topology): manually revert version packages pr
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

chore(release): add changeset to be able to release the plugin (#2073)
  workspaces/rbac/.changeset/spotty-geese-doubt.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

chore(release): add changeset to be able to release the plugin (#2073)
  workspaces/rbac/.changeset/spotty-geese-doubt.md
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

plugin(topology): manually revert version packages pr (#2074)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

plugin(topology): manually revert version packages pr (#2074)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Version Packages (#2076)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Version Packages (#2076)
  workspaces/topology/.changeset/short-snails-agree.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Owners: @backstage/community-plugins-maintainers, @divyanshiGupta, @debsmita1, @ciiay

Version Packages (#2075)
  workspaces/rbac/.changeset/spotty-geese-doubt.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

Version Packages (#2075)
  workspaces/rbac/.changeset/spotty-geese-doubt.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Owners: @backstage/community-plugins-maintainers, @AndrienkoAleksandr, @divyanshiGupta, @PatAKnight

airbrake - Deprecated legacy backend (#2041)
  workspaces/airbrake/.changeset/healthy-apples-collect.md
  workspaces/airbrake/plugins/airbrake-backend/report.api.md
  workspaces/airbrake/plugins/airbrake-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

airbrake - Deprecated legacy backend (#2041)
  workspaces/airbrake/.changeset/healthy-apples-collect.md
  workspaces/airbrake/plugins/airbrake-backend/report.api.md
  workspaces/airbrake/plugins/airbrake-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

todo - Deprecated legacy backend (#2053)
  workspaces/todo/.changeset/fluffy-phones-tie.md
  workspaces/todo/plugins/todo-backend/report.api.md
  workspaces/todo/plugins/todo-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

todo - Deprecated legacy backend (#2053)
  workspaces/todo/.changeset/fluffy-phones-tie.md
  workspaces/todo/plugins/todo-backend/report.api.md
  workspaces/todo/plugins/todo-backend/src/service/router.ts
Owners: @backstage/community-plugins-maintainers

Version Packages (#2079)
  workspaces/airbrake/.changeset/healthy-apples-collect.md
  workspaces/airbrake/plugins/airbrake-backend/CHANGELOG.md
  workspaces/airbrake/plugins/airbrake-backend/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#2079)
  workspaces/airbrake/.changeset/healthy-apples-collect.md
  workspaces/airbrake/plugins/airbrake-backend/CHANGELOG.md
  workspaces/airbrake/plugins/airbrake-backend/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#2078)
  workspaces/todo/.changeset/fluffy-phones-tie.md
  workspaces/todo/plugins/todo-backend/CHANGELOG.md
  workspaces/todo/plugins/todo-backend/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#2078)
  workspaces/todo/.changeset/fluffy-phones-tie.md
  workspaces/todo/plugins/todo-backend/CHANGELOG.md
  workspaces/todo/plugins/todo-backend/package.json
Owners: @backstage/community-plugins-maintainers

plugin(acr): clean up
  workspaces/acr/package.json
  workspaces/acr/plugins/acr/.versionhistory.md
  workspaces/acr/plugins/acr/report.api.md
  workspaces/acr/plugins/acr/src/plugin.ts
  workspaces/acr/plugins/acr/tsconfig.json
  workspaces/acr/plugins/acr/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @invincibleJai

plugin(feedback): clean up
  workspaces/feedback/package.json
  workspaces/feedback/plugins/feedback-backend/tsconfig.json
  workspaces/feedback/plugins/feedback-backend/turbo.json
  workspaces/feedback/plugins/feedback/report.api.md
  workspaces/feedback/plugins/feedback/src/plugin.ts
  workspaces/feedback/plugins/feedback/tsconfig.json
  workspaces/feedback/plugins/feedback/turbo.json
Owners: @backstage/community-plugins-maintainers, @riginoommen, @deshmukhmayur, @yashoswalyo

plugin(jfrog-artifactory): clean up
  workspaces/jfrog-artifactory/package.json
  workspaces/jfrog-artifactory/plugins/jfrog-artifactory/.versionhistory.md
  workspaces/jfrog-artifactory/plugins/jfrog-artifactory/report.api.md
  workspaces/jfrog-artifactory/plugins/jfrog-artifactory/src/plugin.ts
  workspaces/jfrog-artifactory/plugins/jfrog-artifactory/tsconfig.json
  workspaces/jfrog-artifactory/plugins/jfrog-artifactory/turbo.json
Owners: @backstage/community-plugins-maintainers, @BethGriggs

plugin(acr): clean up (#2081)
  workspaces/acr/package.json
  workspaces/acr/plugins/acr/.versionhistory.md
  workspaces/acr/plugins/acr/report.api.md
  workspaces/acr/plugins/acr/src/plugin.ts
  workspaces/acr/plugins/acr/tsconfig.json
  workspaces/acr/plugins/acr/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @invincibleJai

plugin(acr): clean up (#2081)
  workspaces/acr/package.json
  workspaces/acr/plugins/acr/.versionhistory.md
  workspaces/acr/plugins/acr/report.api.md
  workspaces/acr/plugins/acr/src/plugin.ts
  workspaces/acr/plugins/acr/tsconfig.json
  workspaces/acr/plugins/acr/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @invincibleJai

Update README.md
  workspaces/jenkins/plugins/jenkins/README.md
Owners: @backstage/community-plugins-maintainers

add changset
  workspaces/jenkins/.changeset/large-ties-glow.md
Owners: @backstage/community-plugins-maintainers

FIx typo in jenkins readme (#2086)
  workspaces/jenkins/.changeset/large-ties-glow.md
  workspaces/jenkins/plugins/jenkins/README.md
Owners: @backstage/community-plugins-maintainers

FIx typo in jenkins readme (#2086)
  workspaces/jenkins/.changeset/large-ties-glow.md
  workspaces/jenkins/plugins/jenkins/README.md
Owners: @backstage/community-plugins-maintainers

plugin(nexus-repository-manager): clean up
  workspaces/nexus-repository-manager/package.json
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/.versionhistory.md
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/report.api.md
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/src/components/NexusRepositoryManager/NexusRepositoryManager.tsx
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/src/index.ts
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/src/plugin.ts
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/tsconfig.json
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/turbo.json
Owners: @backstage/community-plugins-maintainers, @schultzp2020

plugin(ocm): clean up
  workspaces/ocm/package.json
  workspaces/ocm/plugins/ocm-backend/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-backend/.versionhistory.md
  workspaces/ocm/plugins/ocm-backend/report.api.md
  workspaces/ocm/plugins/ocm-backend/src/bundle.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/ManagedClusterProvider.ts
  workspaces/ocm/plugins/ocm-backend/src/providers/module.ts
  workspaces/ocm/plugins/ocm-backend/src/service/router.ts
  workspaces/ocm/plugins/ocm-backend/tsconfig.json
  workspaces/ocm/plugins/ocm-backend/turbo.json
  workspaces/ocm/plugins/ocm-common/.lintstagedrc.json
  workspaces/ocm/plugins/ocm-common/.versionhistory.md
  workspaces/ocm/plugins/ocm-common/report.api.md
  workspaces/ocm/plugins/ocm-common/src/index.ts
  workspaces/ocm/plugins/ocm-common/src/permissions.ts
  workspaces/ocm/plugins/ocm-common/src/types.ts
  workspaces/ocm/plugins/ocm-common/tsconfig.json
  workspaces/ocm/plugins/ocm-common/turbo.json
  workspaces/ocm/plugins/ocm/.lintstagedrc.json
  workspaces/ocm/plugins/ocm/.versionhistory.md
  workspaces/ocm/plugins/ocm/report.api.md
  workspaces/ocm/plugins/ocm/src/components/ClusterAvailableResourcesCard/ClusterAvailableResourcesCard.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/ClusterContext.tsx
  workspaces/ocm/plugins/ocm/src/components/ClusterContext/index.ts
  workspaces/ocm/plugins/ocm/src/components/ClusterInfoCard/ClusterInfoCard.tsx
  workspaces/ocm/plugins/ocm/src/index.ts
  workspaces/ocm/plugins/ocm/src/plugin.ts
  workspaces/ocm/plugins/ocm/tsconfig.json
  workspaces/ocm/plugins/ocm/turbo.json
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

add changeset for the ocm plugin
  workspaces/ocm/.changeset/few-suns-rest.md
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @debsmita1

add changeset
  workspaces/nexus-repository-manager/.changeset/modern-candles-pump.md
Owners: @backstage/community-plugins-maintainers, @schultzp2020

add changeset for quay-actions
  workspaces/quay/.changeset/early-falcons-obey.md
Owners: @backstage/community-plugins-maintainers, @christoph-jerolimov, @karthikjeeyar, @rohitkrai03, @Eswaraiahsapram

Version Packages (#2088)
  workspaces/jenkins/.changeset/large-ties-glow.md
  workspaces/jenkins/plugins/jenkins/CHANGELOG.md
  workspaces/jenkins/plugins/jenkins/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#2088)
  workspaces/jenkins/.changeset/large-ties-glow.md
  workspaces/jenkins/plugins/jenkins/CHANGELOG.md
  workspaces/jenkins/plugins/jenkins/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#1998)
  workspaces/kiali/.changeset/renovate-496b9d8.md
  workspaces/kiali/plugins/kiali-backend/CHANGELOG.md
  workspaces/kiali/plugins/kiali-backend/package.json
Owners: @backstage/community-plugins-maintainers, @aljesusg, @josunect

Version Packages (#1998)
  workspaces/kiali/.changeset/renovate-496b9d8.md
  workspaces/kiali/plugins/kiali-backend/CHANGELOG.md
  workspaces/kiali/plugins/kiali-backend/package.json
Owners: @backstage/community-plugins-maintainers, @aljesusg, @josunect

Version Packages (#2057)
  workspaces/github-actions/.changeset/mean-apes-tap.md
  workspaces/github-actions/plugins/github-actions/CHANGELOG.md
  workspaces/github-actions/plugins/github-actions/package.json
Owners: @backstage/community-plugins-maintainers

Version Packages (#2057)
  workspaces/github-actions/.changeset/mean-apes-tap.md
  workspaces/github-actions/plugins/github-actions/CHANGELOG.md
  workspaces/github-actions/plugins/github-actions/package.json
Owners: @backstage/community-plugins-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @backstage/community-plugins-maintainers
yarn.lock                                           @backstage/community-plugins-maintainers @backstage-service
*/yarn.lock                                         @backstage/community-plugins-maintainers @backstage-service

/workspaces/3scale                                  @backstage/community-plugins-maintainers  @04kash @AndrienkoAleksandr
/workspaces/acr                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @invincibleJai
/workspaces/adr                                     @backstage/community-plugins-maintainers  @kuangp
/workspaces/analytics                               @backstage/community-plugins-maintainers  @jmezach
/workspaces/azure-devops                            @backstage/community-plugins-maintainers  @awanlin
/workspaces/azure-storage-explorer                  @backstage/community-plugins-maintainers  @deepan10
/workspaces/bitrise                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/blackduck                               @backstage/community-plugins-maintainers  @deepan10
/workspaces/code-coverage                           @backstage/community-plugins-maintainers  @alde
/workspaces/confluence                              @backstage/community-plugins-maintainers  @fjudith
/workspaces/copilot                                 @backstage/community-plugins-maintainers  @esw-afabiano
/workspaces/cost-insights                           @backstage/community-plugins-maintainers  @backstage/silver-lining
/workspaces/entity-feedback                         @backstage/community-plugins-maintainers  @kuangp
/workspaces/explore                                 @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/feedback                                @backstage/community-plugins-maintainers  @riginoommen @deshmukhmayur @yashoswalyo
/workspaces/fossa                                   @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/git-release-manager                     @backstage/community-plugins-maintainers  @erikengervall
/workspaces/github-pull-requests-board              @backstage/community-plugins-maintainers  @gregorytalita
/workspaces/jfrog-artifactory                       @backstage/community-plugins-maintainers  @BethGriggs
/workspaces/kafka                                   @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/keycloak                                @backstage/community-plugins-maintainers  @AndrienkoAleksandr @schultzp2020
/workspaces/kiali                                   @backstage/community-plugins-maintainers  @aljesusg @josunect
/workspaces/linguist                                @backstage/community-plugins-maintainers  @awanlin
/workspaces/matomo                                  @backstage/community-plugins-maintainers  @yashoswalyo @deshmukhmayur @riginoommen
/workspaces/mend                                    @backstage/community-plugins-maintainers  @dariuszsobkowicz
/workspaces/mta                                     @backstage/community-plugins-maintainers  @ibolton336
/workspaces/nexus-repository-manager                @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/npm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/ocm                                     @backstage/community-plugins-maintainers  @christoph-jerolimov @debsmita1
/workspaces/octopus-deploy                          @backstage/community-plugins-maintainers  @jmezach
/workspaces/pingidentity                            @backstage/community-plugins-maintainers  @jessicajhee
/workspaces/playlist                                @backstage/community-plugins-maintainers  @kuangp
/workspaces/quay                                    @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/rbac                                    @backstage/community-plugins-maintainers  @AndrienkoAleksandr @divyanshiGupta @PatAKnight
/workspaces/redhat-argocd                           @backstage/community-plugins-maintainers  @karthikjeeyar @rohitkrai03 @Eswaraiahsapram
/workspaces/redhat-resource-optimization            @backstage/community-plugins-maintainers  @jkilzi @preetiw @christoph-jerolimov
/workspaces/report-portal                           @backstage/community-plugins-maintainers  @yashoswalyo
/workspaces/rollbar                                 @backstage/community-plugins-maintainers  @andrewthauer
/workspaces/scaffolder-backend-module-sonarqube     @backstage/community-plugins-maintainers  @04kash @schultzp2020
/workspaces/scaffolder-backend-module-servicenow    @backstage/community-plugins-maintainers  @schultzp2020
/workspaces/scaffolder-backend-module-regex         @backstage/community-plugins-maintainers  @04kash
/workspaces/scaffolder-relation-processor           @backstage/community-plugins-maintainers  @04kash
/workspaces/sonarqube                               @backstage/community-plugins-maintainers  @backstage/sda-se-reviewers
/workspaces/tech-insights                           @backstage/community-plugins-maintainers  @xantier
/workspaces/tekton                                  @backstage/community-plugins-maintainers  @christoph-jerolimov @karthikjeeyar
/workspaces/topology                                @backstage/community-plugins-maintainers  @divyanshiGupta @debsmita1 @ciiay
