Repository backstage/community-plugins, pull requests merged in 2025-02, with the labels that each got.

#2749 announcements - version:bump to v1.35.1
  workspaces/announcements/.changeset/version-bump-1-35-1.md
  workspaces/announcements/backstage.json
  workspaces/announcements/package.json
  workspaces/announcements/packages/app/package.json
  workspaces/announcements/packages/backend/package.json
  workspaces/announcements/plugins/announcements-backend/package.json
  workspaces/announcements/plugins/announcements-common/package.json
  workspaces/announcements/plugins/announcements-node/package.json
  workspaces/announcements/plugins/announcements-react/package.json
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/search-backend-module-announcements/package.json
  workspaces/announcements/yarn.lock
Labels: workspace/announcements

#2804 Version Packages (announcements)
  workspaces/announcements/.changeset/version-bump-1-35-1.md
  workspaces/announcements/plugins/announcements-backend/CHANGELOG.md
  workspaces/announcements/plugins/announcements-backend/package.json
  workspaces/announcements/plugins/announcements-common/CHANGELOG.md
  workspaces/announcements/plugins/announcements-common/package.json
  workspaces/announcements/plugins/announcements-node/CHANGELOG.md
  workspaces/announcements/plugins/announcements-node/package.json
  workspaces/announcements/plugins/announcements-react/CHANGELOG.md
  workspaces/announcements/plugins/announcements-react/package.json
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/search-backend-module-announcements/CHANGELOG.md
  workspaces/announcements/plugins/search-backend-module-announcements/package.json
Labels: workspace/announcements

#2806 Version Packages (announcements)
  workspaces/announcements/.changeset/odd-trainers-press.md
  workspaces/announcements/plugins/announcements-react/CHANGELOG.md
  workspaces/announcements/plugins/announcements-react/package.json
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
Labels: workspace/announcements

#2816 Version Packages (announcements)
  workspaces/announcements/.changeset/beige-buses-invite.md
  workspaces/announcements/.changeset/curly-otters-visit.md
  workspaces/announcements/.changeset/few-houses-judge.md
  workspaces/announcements/plugins/announcements-backend/CHANGELOG.md
  workspaces/announcements/plugins/announcements-backend/package.json
  workspaces/announcements/plugins/announcements-node/CHANGELOG.md
  workspaces/announcements/plugins/announcements-node/package.json
  workspaces/announcements/plugins/announcements-react/CHANGELOG.md
  workspaces/announcements/plugins/announcements-react/package.json
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/search-backend-module-announcements/CHANGELOG.md
  workspaces/announcements/plugins/search-backend-module-announcements/package.json
Labels: workspace/announcements

#2899 announcements: add more component tests
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/NewAnnouncementBanner/NewAnnouncementBanner.test.tsx
Labels: workspace/announcements

#2013 fix(rbac): reduce the number of times we build group hierarchy graphs
  workspaces/rbac/.changeset/short-kids-applaud.md
  workspaces/rbac/app-config.yaml
  workspaces/rbac/examples/manual-tests/rbac/all.yaml
  workspaces/rbac/examples/manual-tests/rbac/groups.yaml
  workspaces/rbac/examples/manual-tests/rbac/rbac-group-charts.txt
  workspaces/rbac/examples/manual-tests/rbac/rbac-policy.csv
  workspaces/rbac/examples/manual-tests/rbac/users.yaml
  workspaces/rbac/package.json
  workspaces/rbac/plugins/rbac-backend/__fixtures__/data/hierarchy/groups.ts
  workspaces/rbac/plugins/rbac-backend/__fixtures__/data/hierarchy/rbac-policy.csv
  workspaces/rbac/plugins/rbac-backend/__fixtures__/data/hierarchy/users.ts
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.hierarchy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/member-list.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/role-manager.test.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/role-manager.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Labels: workspace/rbac

#2846 [Tech Insights Maturity] FIxed small typo in Entity page integration instructions
  workspaces/tech-insights/.changeset/cyan-ducks-mate.md
  workspaces/tech-insights/plugins/tech-insights-maturity/README.md
Labels: stale

#2954 fix(rbac): allow alias resolver to work for all rules
  workspaces/rbac/.changeset/giant-experts-smell.md
  workspaces/rbac/plugins/rbac-backend/src/conditional-aliases/alias-resolver.test.ts
  workspaces/rbac/plugins/rbac-backend/src/conditional-aliases/alias-resolver.ts
Labels: lgtm, approved, workspace/rbac

#2974 Enhance Permission Handling for Context Menu Visibility
  workspaces/announcements/.changeset/unlucky-ducks-serve.md
  workspaces/announcements/packages/backend/package.json
  workspaces/announcements/packages/backend/src/index.ts
  workspaces/announcements/packages/backend/src/permissionsPolicyExtension.ts
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
  workspaces/announcements/yarn.lock
Labels: workspace/announcements
