Repository backstage/community-plugins, pull requests merged in 2025-03, with the labels that each got.

#3115 announcements: Fix and enhance Active Status Display
  workspaces/announcements/.changeset/polite-steaks-buy.md
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.test.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.tsx
Labels: enhancement, workspace/announcements

#3139 Announcements: improve relative date display when the Start At date is set for the current day
  workspaces/announcements/.changeset/spicy-impalas-behave.md
  workspaces/announcements/plugins/announcements-react/report.api.md
  workspaces/announcements/plugins/announcements-react/src/translation.ts
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
  workspaces/announcements/plugins/announcements/src/components/utils/announcementDateUtils.ts
Labels: workspace/announcements

#3232 Version Packages (rbac)
  workspaces/rbac/.changeset/renovate-917b66b.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Labels: workspace/rbac

#3226 refactor: replace HTML tags with MUI components
  workspaces/announcements/.changeset/lemon-shrimps-pump.md
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
Labels: workspace/announcements

#3225 Remove hardcoded relations from mock entities in announcements plugins
  workspaces/announcements/examples/entities.yaml
  workspaces/announcements/examples/org.yaml
Labels: workspace/announcements

#2876 #2872 Exposing RBACApiRef to support simulation on use-cases and to mock API implementation for feature testing.
  workspaces/rbac/.changeset/quiet-lions-float.md
  workspaces/rbac/plugins/rbac/report.api.md
  workspaces/rbac/plugins/rbac/src/api/RBACBackendClient.ts
  workspaces/rbac/plugins/rbac/src/index.ts
  workspaces/rbac/plugins/rbac/src/types.ts
Labels: workspace/rbac

#2998 feat(topology): use Kubernetes plugin permissions
  docs/README.md
  workspaces/rbac/plugins/rbac-backend/docs/permissions.md
  workspaces/topology/.changeset/yellow-dolls-cough.md
  workspaces/topology/plugins/topology-common/.eslintrc.js
  workspaces/topology/plugins/topology-common/CHANGELOG.md
  workspaces/topology/plugins/topology-common/README.md
  workspaces/topology/plugins/topology-common/catalog-info.yaml
  workspaces/topology/plugins/topology-common/knip-report.md
  workspaces/topology/plugins/topology-common/package.json
  workspaces/topology/plugins/topology-common/report.api.md
  workspaces/topology/plugins/topology-common/src/index.ts
  workspaces/topology/plugins/topology-common/src/permissions.ts
  workspaces/topology/plugins/topology/README.md
  workspaces/topology/plugins/topology/catalog-info.yaml
  workspaces/topology/plugins/topology/package.json
  workspaces/topology/plugins/topology/src/components/Topology/TopologyComponent.test.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologyComponent.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDialog.test.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologySideBar/PodLogs/PodLogsDialog.tsx
  workspaces/topology/plugins/topology/src/components/Topology/TopologyViewWorkloadComponent.tsx
  workspaces/topology/plugins/topology/src/components/Topology/permissions/MissingPermissionPage.tsx
  workspaces/topology/plugins/topology/src/components/Topology/permissions/requireKubernetesReadPermissions.tsx
  workspaces/topology/plugins/topology/src/imgs/MissingPermission.svg
  workspaces/topology/yarn.lock
Labels: lgtm, approved

#3270 fix(rbac)!: migrate to the core Auditor Service
  workspaces/rbac/.changeset/eleven-spiders-grow.md
  workspaces/rbac/plugins/rbac-backend/.eslintrc.js
  workspaces/rbac/plugins/rbac-backend/__fixtures__/auditor-test-utils.ts
  workspaces/rbac/plugins/rbac-backend/__fixtures__/mock-utils.ts
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/docs/audit-log.md
  workspaces/rbac/plugins/rbac-backend/package.json
  workspaces/rbac/plugins/rbac-backend/report.api.md
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.test.ts
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.ts
  workspaces/rbac/plugins/rbac-backend/src/audit-log/audit-logger.ts
  workspaces/rbac/plugins/rbac-backend/src/audit-log/rest-errors-interceptor.ts
  workspaces/rbac/plugins/rbac-backend/src/auditor/auditor.ts
  workspaces/rbac/plugins/rbac-backend/src/auditor/rest-interceptor.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.test.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/yaml-conditional-file-watcher.test.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/yaml-conditional-file-watcher.ts
  workspaces/rbac/plugins/rbac-backend/src/helper.test.ts
  workspaces/rbac/plugins/rbac-backend/src/helper.ts
  workspaces/rbac/plugins/rbac-backend/src/plugin.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.hierarchy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.test.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policies-rest-api.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policy-builder.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policy-builder.ts
  workspaces/rbac/yarn.lock
Labels: lgtm, approved

#3118 chore(quay): add Quay actions to workspace
  workspaces/quay/app-config.yaml
  workspaces/quay/packages/backend/package.json
  workspaces/quay/packages/backend/src/index.ts
  workspaces/quay/yarn.lock
Labels: stale
