Repository backstage/community-plugins, pull requests merged in 2025-10, with the labels that each got.

#5417 codescene - version:bump to v1.43.2
  workspaces/codescene/.changeset/version-bump-1-43-2.md
  workspaces/codescene/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/codescene/.yarnrc.yml
  workspaces/codescene/backstage.json
  workspaces/codescene/yarn.lock
Labels: owner/area-maintainers, workspace/codescene

#5554 Version Packages (confluence)
  workspaces/confluence/.changeset/version-bump-1-43-2.md
  workspaces/confluence/plugins/confluence/CHANGELOG.md
  workspaces/confluence/plugins/confluence/package.json
  workspaces/confluence/plugins/search-backend-module-confluence-collator/CHANGELOG.md
  workspaces/confluence/plugins/search-backend-module-confluence-collator/package.json
Labels: workspace/confluence

#5422 copilot - version:bump to v1.43.2
  workspaces/copilot/.changeset/version-bump-1-43-2.md
  workspaces/copilot/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/copilot/.yarnrc.yml
  workspaces/copilot/backstage.json
  workspaces/copilot/yarn.lock
Labels: workspace/copilot

#5547 Version Packages (cloudbuild)
  workspaces/cloudbuild/.changeset/version-bump-1-43-2.md
  workspaces/cloudbuild/plugins/cloudbuild/CHANGELOG.md
  workspaces/cloudbuild/plugins/cloudbuild/package.json
Labels: owner/area-maintainers, workspace/cloudbuild

#5433 gitops-profiles - version:bump to v1.43.2
  workspaces/gitops-profiles/.changeset/version-bump-1-43-2.md
  workspaces/gitops-profiles/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/gitops-profiles/.yarnrc.yml
  workspaces/gitops-profiles/backstage.json
  workspaces/gitops-profiles/yarn.lock
Labels: owner/area-maintainers, workspace/gitops-profiles

#5266 feat(announcements): add defaultInactive prop to AnnouncementsPage
  workspaces/announcements/.changeset/curvy-laws-shop.md
  workspaces/announcements/plugins/announcements/README.md
  workspaces/announcements/plugins/announcements/report.api.md
  workspaces/announcements/plugins/announcements/src/components/Admin/AdminPortal/AdminPortal.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.test.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/AnnouncementForm.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/AnnouncementForm.tsx
  workspaces/announcements/plugins/announcements/src/components/CreateAnnouncementPage/CreateAnnouncementPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/CreateAnnouncementPage/CreateAnnouncementPage.tsx
  workspaces/announcements/plugins/announcements/src/components/Router.tsx
Labels: workspace/announcements

#5301 Version Packages (kiali)
  workspaces/kiali/.changeset/late-pens-walk.md
  workspaces/kiali/.changeset/major-pillows-attack.md
  workspaces/kiali/.changeset/renovate-7e0e881.md
  workspaces/kiali/plugins/kiali-backend/CHANGELOG.md
  workspaces/kiali/plugins/kiali-backend/package.json
  workspaces/kiali/plugins/kiali-common/CHANGELOG.md
  workspaces/kiali/plugins/kiali-common/package.json
  workspaces/kiali/plugins/kiali-react/CHANGELOG.md
  workspaces/kiali/plugins/kiali-react/package.json
  workspaces/kiali/plugins/kiali/CHANGELOG.md
  workspaces/kiali/plugins/kiali/package.json
Labels: workspace/kiali

#5565 Version Packages (linkerd)
  workspaces/linkerd/.changeset/version-bump-1-43-2.md
  workspaces/linkerd/packages/app/CHANGELOG.md
  workspaces/linkerd/packages/app/package.json
  workspaces/linkerd/packages/backend/CHANGELOG.md
  workspaces/linkerd/packages/backend/package.json
  workspaces/linkerd/plugins/linkerd-backend/CHANGELOG.md
  workspaces/linkerd/plugins/linkerd-backend/package.json
  workspaces/linkerd/plugins/linkerd/CHANGELOG.md
  workspaces/linkerd/plugins/linkerd/package.json
Labels: workspace/linkerd, owner/area-maintainers

#5568 Version Packages (graphql-voyager)
  workspaces/graphql-voyager/.changeset/version-bump-1-43-2.md
  workspaces/graphql-voyager/plugins/graphql-voyager/CHANGELOG.md
  workspaces/graphql-voyager/plugins/graphql-voyager/package.json
Labels: owner/area-maintainers, workspace/graphql-voyager

#5564 Version Packages (analytics)
  workspaces/analytics/.changeset/ga4-nu-da.md
  workspaces/analytics/.changeset/matomo-nu-da.md
  workspaces/analytics/.changeset/nr-browser-nu-da.md
  workspaces/analytics/.changeset/segment-nu-da.md
  workspaces/analytics/.changeset/version-bump-1-43-2.md
  workspaces/analytics/plugins/analytics-module-ga4/CHANGELOG.md
  workspaces/analytics/plugins/analytics-module-ga4/package.json
  workspaces/analytics/plugins/analytics-module-matomo/CHANGELOG.md
  workspaces/analytics/plugins/analytics-module-matomo/package.json
  workspaces/analytics/plugins/analytics-module-newrelic-browser/CHANGELOG.md
  workspaces/analytics/plugins/analytics-module-newrelic-browser/package.json
  workspaces/analytics/plugins/analytics-provider-segment/CHANGELOG.md
  workspaces/analytics/plugins/analytics-provider-segment/package.json
Labels: workspace/analytics

#5371 announcements: Fix table rendering when using md-editor
  workspaces/announcements/.changeset/pink-spoons-sit.md
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/announcements/src/components/MarkdownRenderer/MarkdownRenderer.tsx
  workspaces/announcements/yarn.lock
Labels: workspace/announcements

#5576 acr - version:bump to v1.43.3
  workspaces/acr/.changeset/version-bump-1-43-3.md
  workspaces/acr/backstage.json
  workspaces/acr/package.json
  workspaces/acr/packages/app-next/package.json
  workspaces/acr/packages/app/package.json
  workspaces/acr/packages/backend/package.json
  workspaces/acr/plugins/acr/package.json
  workspaces/acr/yarn.lock
Labels: workspace/acr

#5572 nexus-repository-manager - version:bump to v1.43.3
  workspaces/nexus-repository-manager/.changeset/version-bump-1-43-3.md
  workspaces/nexus-repository-manager/backstage.json
  workspaces/nexus-repository-manager/package.json
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/package.json
  workspaces/nexus-repository-manager/yarn.lock
Labels: workspace/nexus-repository-manager

#5582 Version Packages (nexus-repository-manager)
  workspaces/nexus-repository-manager/.changeset/version-bump-1-43-3.md
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/CHANGELOG.md
  workspaces/nexus-repository-manager/plugins/nexus-repository-manager/package.json
Labels: workspace/nexus-repository-manager

#5583 Version Packages (topology)
  workspaces/topology/.changeset/version-bump-1-43-3.md
  workspaces/topology/plugins/topology/CHANGELOG.md
  workspaces/topology/plugins/topology/package.json
Labels: workspace/topology

#5560 Version Packages (opencost)
  workspaces/opencost/.changeset/version-bump-1-43-2.md
  workspaces/opencost/plugins/opencost/CHANGELOG.md
  workspaces/opencost/plugins/opencost/package.json
Labels: owner/area-maintainers, workspace/opencost

#5548 Version Packages (badges)
  workspaces/badges/.changeset/version-bump-1-43-2.md
  workspaces/badges/plugins/badges-backend/CHANGELOG.md
  workspaces/badges/plugins/badges-backend/package.json
  workspaces/badges/plugins/badges/CHANGELOG.md
  workspaces/badges/plugins/badges/package.json
Labels: owner/area-maintainers, workspace/badges

#5566 Version Packages (code-climate)
  workspaces/code-climate/.changeset/version-bump-1-43-2.md
  workspaces/code-climate/plugins/code-climate/CHANGELOG.md
  workspaces/code-climate/plugins/code-climate/package.json
Labels: owner/area-maintainers, workspace/code-climate

#5539 Version Packages (tekton)
  workspaces/tekton/.changeset/cyan-poets-bow.md
  workspaces/tekton/.changeset/renovate-7e0e881.md
  workspaces/tekton/.changeset/thin-ears-wash.md
  workspaces/tekton/plugins/tekton/CHANGELOG.md
  workspaces/tekton/plugins/tekton/package.json
Labels: workspace/tekton

#5592 Version Packages (cost-insights)
  workspaces/cost-insights/.changeset/version-bump-1-43-2.md
  workspaces/cost-insights/plugins/cost-insights-common/CHANGELOG.md
  workspaces/cost-insights/plugins/cost-insights-common/package.json
  workspaces/cost-insights/plugins/cost-insights/CHANGELOG.md
  workspaces/cost-insights/plugins/cost-insights/package.json
Labels: workspace/cost-insights

#5585 Version Packages (xcmetrics)
  workspaces/xcmetrics/.changeset/version-bump-1-43-2.md
  workspaces/xcmetrics/plugins/xcmetrics/CHANGELOG.md
  workspaces/xcmetrics/plugins/xcmetrics/package.json
Labels: owner/area-maintainers, workspace/xcmetrics

#5437 grafana - version:bump to v1.43.2
  workspaces/grafana/.changeset/version-bump-1-43-2.md
  workspaces/grafana/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/grafana/.yarnrc.yml
  workspaces/grafana/backstage.json
  workspaces/grafana/yarn.lock
Labels: workspace/grafana, owner/area-maintainers

#5431 github-discussions - version:bump to v1.43.2
  workspaces/github-discussions/.changeset/version-bump-1-43-2.md
  workspaces/github-discussions/.yarnrc.yml
  workspaces/github-discussions/backstage.json
  workspaces/github-discussions/yarn.lock
Labels: workspace/github-discussions

#5436 ilert - version:bump to v1.43.2
  workspaces/ilert/.changeset/version-bump-1-43-2.md
  workspaces/ilert/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/ilert/.yarnrc.yml
  workspaces/ilert/backstage.json
  workspaces/ilert/yarn.lock
Labels: owner/area-maintainers, workspace/ilert

#5587 Version Packages (azure-sites)
  workspaces/azure-sites/.changeset/version-bump-1-43-2.md
  workspaces/azure-sites/plugins/azure-sites-backend/CHANGELOG.md
  workspaces/azure-sites/plugins/azure-sites-backend/package.json
  workspaces/azure-sites/plugins/azure-sites-common/CHANGELOG.md
  workspaces/azure-sites/plugins/azure-sites-common/package.json
  workspaces/azure-sites/plugins/azure-sites/CHANGELOG.md
  workspaces/azure-sites/plugins/azure-sites/package.json
Labels: workspace/azure-sites

#5586 Version Packages (azure-storage-explorer)
  workspaces/azure-storage-explorer/.changeset/version-bump-1-43-2.md
  workspaces/azure-storage-explorer/plugins/azure-storage-backend/CHANGELOG.md
  workspaces/azure-storage-explorer/plugins/azure-storage-backend/package.json
  workspaces/azure-storage-explorer/plugins/azure-storage/CHANGELOG.md
  workspaces/azure-storage-explorer/plugins/azure-storage/package.json
Labels: workspace/azure-storage-explorer

#5599 Version Packages (github-discussions)
  workspaces/github-discussions/.changeset/version-bump-1-43-2.md
  workspaces/github-discussions/packages/app/CHANGELOG.md
  workspaces/github-discussions/packages/app/package.json
  workspaces/github-discussions/packages/backend/CHANGELOG.md
  workspaces/github-discussions/packages/backend/package.json
  workspaces/github-discussions/plugins/github-discussions-common/CHANGELOG.md
  workspaces/github-discussions/plugins/github-discussions-common/package.json
  workspaces/github-discussions/plugins/github-discussions/CHANGELOG.md
  workspaces/github-discussions/plugins/github-discussions/package.json
  workspaces/github-discussions/plugins/search-backend-module-github-discussions/CHANGELOG.md
  workspaces/github-discussions/plugins/search-backend-module-github-discussions/package.json
Labels: workspace/github-discussions

#5432 github-actions - version:bump to v1.43.2
  workspaces/github-actions/.changeset/version-bump-1-43-2.md
  workspaces/github-actions/.yarn/plugins/@yarnpkg/plugin-backstage.cjs
  workspaces/github-actions/.yarnrc.yml
  workspaces/github-actions/backstage.json
  workspaces/github-actions/plugins/github-actions/report-alpha.api.md
  workspaces/github-actions/yarn.lock
Labels: workspace/github-actions, owner/area-maintainers

#5610 Version Packages (gcp-projects)
  workspaces/gcp-projects/.changeset/version-bump-1-43-2.md
  workspaces/gcp-projects/plugins/gcp-projects/CHANGELOG.md
  workspaces/gcp-projects/plugins/gcp-projects/package.json
Labels: owner/area-maintainers, workspace/gcp-projects

#5602 Version Packages (shortcuts)
  workspaces/shortcuts/.changeset/version-bump-1-43-2.md
  workspaces/shortcuts/plugins/shortcuts/CHANGELOG.md
  workspaces/shortcuts/plugins/shortcuts/package.json
Labels: workspace/shortcuts, owner/area-maintainers

#5580 Version Packages (announcements)
  workspaces/announcements/.changeset/curvy-coins-exercise.md
  workspaces/announcements/.changeset/pink-spoons-sit.md
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
Labels: workspace/announcements

#5609 Version Packages (gocd)
  workspaces/gocd/.changeset/version-bump-1-43-2.md
  workspaces/gocd/plugins/gocd/CHANGELOG.md
  workspaces/gocd/plugins/gocd/package.json
Labels: owner/area-maintainers, workspace/gocd

#5611 Version Packages (apache-airflow)
  workspaces/apache-airflow/.changeset/version-bump-1-43-2.md
  workspaces/apache-airflow/plugins/apache-airflow/CHANGELOG.md
  workspaces/apache-airflow/plugins/apache-airflow/package.json
Labels: owner/area-maintainers, workspace/apache-airflow

#5597 Version Packages (grafana)
  workspaces/grafana/.changeset/version-bump-1-43-2.md
  workspaces/grafana/plugins/grafana/CHANGELOG.md
  workspaces/grafana/plugins/grafana/package.json
Labels: workspace/grafana, owner/area-maintainers

#5598 Version Packages (manage)
  workspaces/manage/.changeset/version-bump-1-43-2.md
  workspaces/manage/plugins/manage-backend/CHANGELOG.md
  workspaces/manage/plugins/manage-backend/package.json
  workspaces/manage/plugins/manage-common/CHANGELOG.md
  workspaces/manage/plugins/manage-common/package.json
  workspaces/manage/plugins/manage-module-tech-insights/CHANGELOG.md
  workspaces/manage/plugins/manage-module-tech-insights/package.json
  workspaces/manage/plugins/manage-node/CHANGELOG.md
  workspaces/manage/plugins/manage-node/package.json
  workspaces/manage/plugins/manage-react/CHANGELOG.md
  workspaces/manage/plugins/manage-react/package.json
  workspaces/manage/plugins/manage/CHANGELOG.md
  workspaces/manage/plugins/manage/package.json
Labels: workspace/manage

#5603 Version Packages (bazaar)
  workspaces/bazaar/.changeset/version-bump-1-43-2.md
  workspaces/bazaar/plugins/bazaar-backend/CHANGELOG.md
  workspaces/bazaar/plugins/bazaar-backend/package.json
  workspaces/bazaar/plugins/bazaar/CHANGELOG.md
  workspaces/bazaar/plugins/bazaar/package.json
Labels: workspace/bazaar, owner/area-maintainers
