Repository backstage/community-plugins, pull requests merged in 2025-01, with the labels that each got.

#2444 Version Packages (rbac)
  workspaces/rbac/.changeset/orange-kings-invite.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Labels: lgtm, approved

#2530 Version Packages (rbac)
  workspaces/rbac/.changeset/red-glasses-reply.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Labels: lgtm

#2026 doc: fix missing instanceKey keyword missing
  workspaces/sonarqube/.changeset/beige-ties-drive.md
  workspaces/sonarqube/plugins/sonarqube-backend/README.md
Labels: stale

#2554 Version Packages (rbac)
  workspaces/rbac/.changeset/new-moose-nail.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Labels: lgtm, approved

#2551 fix(rbac): evaluate permissions for superuser sooner
  workspaces/rbac/.changeset/hungry-rice-marry.md
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.ts
Labels: lgtm, approved

#2578 Version Packages (rbac)
  workspaces/rbac/.changeset/hungry-rice-marry.md
  workspaces/rbac/plugins/rbac-backend/CHANGELOG.md
  workspaces/rbac/plugins/rbac-backend/package.json
Labels: lgtm, approved

#2582 Version Packages (rbac)
  workspaces/rbac/.changeset/empty-spoons-prove.md
  workspaces/rbac/plugins/rbac/CHANGELOG.md
  workspaces/rbac/plugins/rbac/package.json
Labels: lgtm, approved

#2597 Version Packages (announcements)
  workspaces/announcements/.changeset/dull-yaks-hang.md
  workspaces/announcements/.changeset/lovely-falcons-smoke.md
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
Labels: workspace/announcements
