Repository backstage/community-plugins, pull requests merged in 2025-05, with the labels that each got.

#3646 Make FactRetrieverContext generic to support context extension
  workspaces/tech-insights/.changeset/healthy-cats-visit.md
  workspaces/tech-insights/plugins/tech-insights-node/report.api.md
  workspaces/tech-insights/plugins/tech-insights-node/src/facts.ts
Labels: workspace/tech-insights

#2580 fix(rbac): avoid unnecessary query to check 'relations' table
  workspaces/rbac/.changeset/sweet-zoos-cheer.md
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-factory.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-memo-pg.test.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-memo-pg.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-memo-sqlite.test.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-memo-sqlite.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/ancestor-search-memo.ts
  workspaces/rbac/plugins/rbac-backend/src/role-manager/role-manager.ts
Labels: workspace/rbac

#3468 fix(announcements): Respect MUI theme colors & typography
  workspaces/announcements/.changeset/bright-jobs-doubt.md
  workspaces/announcements/plugins/announcements-react/report.api.md
  workspaces/announcements/plugins/announcements-react/src/translation.ts
  workspaces/announcements/plugins/announcements/src/components/AnnouncementPage/AnnouncementPage.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementSearchResultListItem/AnnouncementSearchResultListItem.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/ContextMenu.tsx
  workspaces/announcements/plugins/announcements/src/components/NewAnnouncementBanner/NewAnnouncementBanner.tsx
Labels: workspace/announcements

#3878 Add changesets for recent tech-insights permissions updates
  workspaces/tech-insights/.changeset/early-hounds-explain.md
  workspaces/tech-insights/.changeset/sixty-grapes-sit.md
  workspaces/tech-insights/plugins/tech-insights-backend/README.md
  workspaces/tech-insights/plugins/tech-insights-backend/package.json
  workspaces/tech-insights/plugins/tech-insights-backend/src/plugin/plugin.test.ts
  workspaces/tech-insights/plugins/tech-insights-backend/src/plugin/plugin.ts
  workspaces/tech-insights/plugins/tech-insights-backend/src/service/router.ts
  workspaces/tech-insights/yarn.lock
Labels: workspace/tech-insights

#3801 Version Packages (confluence)
  workspaces/confluence/.changeset/smooth-panthers-scream.md
  workspaces/confluence/plugins/search-backend-module-confluence-collator/CHANGELOG.md
  workspaces/confluence/plugins/search-backend-module-confluence-collator/package.json
Labels: stale

#3890 Version Packages (adr)
  workspaces/adr/.changeset/version-bump-1-38-1.md
  workspaces/adr/plugins/adr-backend/CHANGELOG.md
  workspaces/adr/plugins/adr-backend/package.json
  workspaces/adr/plugins/adr-common/CHANGELOG.md
  workspaces/adr/plugins/adr-common/package.json
  workspaces/adr/plugins/adr/CHANGELOG.md
  workspaces/adr/plugins/adr/package.json
  workspaces/adr/plugins/search-backend-module-adr/CHANGELOG.md
  workspaces/adr/plugins/search-backend-module-adr/package.json
Labels: stale
