Repository backstage/community-plugins, pull requests merged in 2025-04, with the labels that each got.

#3515 Remove Usages of @spotify/prettier-config
  workspaces/acr/package.json
  workspaces/acr/yarn.lock
Labels: contribfest

#3517 remove @spotify/pretter-config from devDependencies.
  workspaces/analytics/.changeset/small-bags-argue.md
  workspaces/analytics/plugins/analytics-provider-segment/package.json
  workspaces/analytics/yarn.lock
Labels: contribfest

#3564 feat(announcements): add hideStartAt prop for conditional start at date rendering
  workspaces/announcements/.changeset/unlucky-emus-smile.md
  workspaces/announcements/plugins/announcements/report.api.md
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
  workspaces/announcements/plugins/announcements/src/components/Router.tsx
Labels: workspace/announcements

#3668 chore(announcements): Update to Backstage 1.38
  workspaces/announcements/.changeset/metal-turkeys-exist.md
  workspaces/announcements/backstage.json
  workspaces/announcements/package.json
  workspaces/announcements/packages/app/package.json
  workspaces/announcements/packages/app/src/App.test.tsx
  workspaces/announcements/packages/app/src/App.tsx
  workspaces/announcements/packages/app/src/components/EntityPage.tsx
  workspaces/announcements/packages/app/src/components/HomePage.tsx
  workspaces/announcements/packages/app/src/components/Root/LogoFull.tsx
  workspaces/announcements/packages/app/src/components/Root/LogoIcon.tsx
  workspaces/announcements/packages/app/src/components/Root/Root.tsx
  workspaces/announcements/packages/app/src/components/SearchPage.tsx
  workspaces/announcements/packages/app/src/index.tsx
  workspaces/announcements/packages/backend/package.json
  workspaces/announcements/playwright.config.ts
  workspaces/announcements/plugins/announcements-backend/README.md
  workspaces/announcements/plugins/announcements-backend/package.json
  workspaces/announcements/plugins/announcements-common/package.json
  workspaces/announcements/plugins/announcements-node/package.json
  workspaces/announcements/plugins/announcements-react/package.json
  workspaces/announcements/plugins/announcements/dev/index.tsx
  workspaces/announcements/plugins/announcements/package.json
  workspaces/announcements/plugins/announcements/report.api.md
  workspaces/announcements/plugins/announcements/src/alpha/entityCards.test.tsx
  workspaces/announcements/plugins/announcements/src/alpha/entityCards.tsx
  workspaces/announcements/plugins/announcements/src/alpha/pages.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AdminPortal/AdminPortal.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.test.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/AnnouncementsContent/AnnouncementsContent.tsx
  workspaces/announcements/plugins/announcements/src/components/Admin/CategoriesContent/CategoriesContent.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/AnnouncementForm.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/CategoryInput.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementForm/CategoryInput.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementPage/AnnouncementPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementPage/AnnouncementPage.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementSearchResultListItem/AnnouncementSearchResultListItem.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsCard/AnnouncementsCard.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/AnnouncementsPage.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/ContextMenu.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsPage/DeleteAnnouncementDialog.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsTimeline/AnnouncementsTimeline.test.tsx
  workspaces/announcements/plugins/announcements/src/components/AnnouncementsTimeline/AnnouncementsTimeline.tsx
  workspaces/announcements/plugins/announcements/src/components/CategoriesForm/CategoriesForm.tsx
  workspaces/announcements/plugins/announcements/src/components/CategoriesPage/CategoriesPage.tsx
  workspaces/announcements/plugins/announcements/src/components/CategoriesPage/DeleteCategoryDialog.tsx
  workspaces/announcements/plugins/announcements/src/components/CreateAnnouncementPage/CreateAnnouncementPage.tsx
  workspaces/announcements/plugins/announcements/src/components/EditAnnouncementPage/EditAnnouncementPage.tsx
  workspaces/announcements/plugins/announcements/src/components/NewAnnouncementBanner/NewAnnouncementBanner.test.tsx
  workspaces/announcements/plugins/announcements/src/components/NewAnnouncementBanner/NewAnnouncementBanner.tsx
  workspaces/announcements/plugins/announcements/src/components/NewCategoryDialog/NewCategoryDialog.tsx
  workspaces/announcements/plugins/announcements/src/components/Router.tsx
  workspaces/announcements/plugins/search-backend-module-announcements/package.json
  workspaces/announcements/tsconfig.json
  workspaces/announcements/yarn.lock
Labels: workspace/announcements

#2827 fix(rbac): avoid filter's args duplication
  workspaces/rbac/.changeset/sharp-mice-explain.md
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
Labels: workspace/rbac

#2539 fix(rbac): update roleRef in metadata and policies
  workspaces/rbac/.changeset/itchy-dots-compare.md
  workspaces/rbac/plugins/rbac-backend/__fixtures__/test-utils.ts
  workspaces/rbac/plugins/rbac-backend/src/admin-permissions/admin-creation.ts
  workspaces/rbac/plugins/rbac-backend/src/database/conditional-storage.ts
  workspaces/rbac/plugins/rbac-backend/src/database/role-metadata.ts
  workspaces/rbac/plugins/rbac-backend/src/file-permissions/csv-file-watcher.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.hierarchy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/policies/permission-policy.test.ts
  workspaces/rbac/plugins/rbac-backend/src/providers/connect-providers.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.test.ts
  workspaces/rbac/plugins/rbac-backend/src/service/enforcer-delegate.ts
  workspaces/rbac/plugins/rbac-backend/src/service/policy-builder.ts
  workspaces/rbac/plugins/rbac/src/components/CreateRole/RoleForm.tsx
Labels: workspace/rbac

#3872 Version Packages (announcements)
  workspaces/announcements/.changeset/healthy-books-jump.md
  workspaces/announcements/plugins/announcements/CHANGELOG.md
  workspaces/announcements/plugins/announcements/package.json
Labels: workspace/announcements
